* {
    --monospace: monospace, 'Courier New', Courier;
    --default-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border-radius: 1em;
    color: white;
    border-color: transparent;
    background-color: rgb(25, 24, 27);
    cursor: pointer;
    padding: 0.5em 1.5em;
    font-family: var(--monospace);

    transition: background-color 0.25s;
}

button:hover {
    background-color: rgb(17, 17, 19);
}